<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>2 Product Page - Server Side Rendering</title>
    <link rel="icon" href="data:;base64,=">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        window.router.initialize({
          pathDefault: '/admin-user/list',
          defender: function() {
            console.log('defender', window.sessionStorage.getItem('accesToken') ? true : false);
             return window.sessionStorage.getItem('accesToken') ? true : false;
          },
          whiteList: ['/vanillajs'],
        })
      })
    </script>
    <%- router %>
  </body>
</html>